<div class="container">
    <h2>User Settings</h2>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers">
                <label for="emailOffers" class="form-check-label">
                    Email Special Offers
                </label>
            </div>
            <button class="btn btn-primary">Send</button>
        </div>
    </form>
</div>